<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>
  <body>

    <section class="block block--dark block--skewed-right block-showcase">
      <header class="block__header">
        <h2>Smart-tap Software Technology</h2>
      </header>
      <div class="container grid grid--cols-2 ">
        <picture class="block-showcase__image">
          <source type="" srcset="" />
          <img src="images/ipad.png" alt="" />
        </picture>
        <ul class="list">
          <li>
            <div class="media">
              <div class="media__image">
                </svg><svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Corporate-User Package</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex dolorem asperiores autem. Facilis possimus perspiciatis voluptatibus libero. Natus, debitis? Corporis!</p>
              </div>
            </div>
          </li>
          <li><div class="media">
            <div class="media__image">
              </svg><svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#settings"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Religious-User Package</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex dolorem asperiores autem. Facilis possimus perspiciatis voluptatibus libero. Natus, debitis? Corporis!</p>
            </div>
          </div></li>
          <li>
            <div class="media">
              <div class="media__image">
                </svg><svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Personal-User Package </h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex dolorem asperiores autem. Facilis possimus perspiciatis voluptatibus libero. Natus, debitis? Corporis!</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    



    <section class="block">
      <header class="block__header">
        <h2>What our Customers are Saying Smart-tap</h2>
        <p data-aos="fade-right">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          sit?
        </p>
      </header>
      <div class="container">
          <div class="card testimonial">
            <div class="grid grid--cols-2">
              <div class="testimonial__image" data-aos="zoom-in-left">
                <img  src="images/testimonial.jpg" alt="A happy smilling customer" />
                <span class="icon-container icon-container--accent">
                </svg><svg class="icon icon--white icon--small">
                  <use xlink:href="images/sprite.svg#snap"></use>
                </svg>
                </span>
              </div>
              <p style="margin-left: 3rem;" class="quote__textd" data-aos="fade-up">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo numquam
                veniam voluptatem dignissimos rerum praesentium animi aperiam enim
                aspernatur modi.
              </p>
              <footer>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary quote__line">
                      <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title quote__author">Ogums Lucky</h3>
                    <p  class="quote__organization">Prime-Acess 360 Nigeria Limited</p>
                  </div>
                </div><div class="media">
                  <div class="media__image">
                    </svg><svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#menu"></use>
                    </svg>
                  </div>
              </footer>
            </blockquote>
            </div>
          </div>
      </div>
    </section>
  </body>
</html>
